<h3>Formulaire d'inscription</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
		{## Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}
		<div>
			{# Génération du label. #}
			{{ form_label(form.nom, "Nom") }}

			{# Affichage des erreurs pour ce champ précis. #}
			{{ form_errors(form.nom) }}

			{# Génération de l'input. #}
			{{ form_widget(form.nom) }}
		</div>	

		{{ form_rest(form) }}
		<input type="submit" class="btn btn-primary" />
	</form>	
</div>



